
@media (max-width: 700px) {
	.conteudo {
		flex-wrap: wrap;
		padding: 80px 50px;
		align-items: center;
		gap: 30px;
	}
	
}
@media (max-width: 525px) {
	.conteudo {
		gap: 20px;
		padding: 5px;
	}
}
