body {
	font-family: "Roboto", sans-serif;
	background: url(../images/bg-repeat.jpg) center center;
	background-size: contain;
	display: flex;
	justify-content: center;
	font-size: 15px;
}
.conteudo {
	width: 1440px;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.conteudo .info {
	color: #ffffff;
	width: 50%;
}
.conteudo .info h2 {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 11px;
}
.conteudo .info .info-duvida {
	font-weight: 400;
	max-width: 350px;
}
.formulario {
	background-color: #ffffff;
	width: 340px;
	height: 400px;
	padding: 20px;
	border-radius: 2px;
	
}
input,
textarea {
	width: 100%;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 10px;
}

.btn-enviar {
	margin-top: 20px;
	background-color: #3ccc87;
	cursor: pointer;
	color: #ffffff;
	border: none;
	font-weight: 700;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
}

.campo-preenchido {
	border-color: #00c22b;
}
.campo-vazio {
	border-color: #f52e2e;
}
.small {
	color: #f52e2e;
	font-size: 8px;
	opacity: 0;
}
.small-visivel {
	opacity: 1;
}
